@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

.bgScoreBoard {
  background-image: url("../../public/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  font-family: "Noto Sans Thai", sans-serif;
}

.bgGame4 {
  background-image: url("../../public/images/bgGame4.png");
}

.bgGame5 {
  background-image: url("../../public/images/bgGame5.png");
}

.bgGame6 {
  background-image: url("../../public/images/bgGame6.png");
}

.boxScoreBoard {
  background-image: url("../../public/images/bgBox.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  aspect-ratio: 527/973;
  max-width: 527px;
  height: auto;
  position: relative;
}

.boxGame4 {
  background-image: url("../../public/images/bgBox-game4.png");
}

.boxGame5 {
  background-image: url("../../public/images/bgBox-game5.png");
}

.boxGame6 {
  background-image: url("../../public/images/bgBox-game4.png");
}

.scoreboard-title {
  @apply absolute -translate-x-1/2 -translate-y-1/2 left-[49.5%] top-[10%] w-[55%] font-medium text-white text-center text-[22px];
}

.scoreboard-body {
  @apply absolute -translate-x-1/2 -translate-y-1/2 left-[50%] top-[50%] w-[63%] h-auto font-bold aspect-[42/80] py-5 px-2;
}

.lists-score {
}

.item-score {
  @apply text-[#562234] mb-3 pt-2 pb-5 border-b-2 border-[#562234]/30 last:border-b-0;
}

.th-score-number {
  @apply basis-1/4 w-1/4;
  @apply text-sm min-w-12 md:text-xl md:min-w-10 text-left font-bold uppercase text-center;
}
.th-score-name {
  @apply basis-1/2 w-1/2;
  @apply text-sm block md:text-xl truncate text-left font-bold uppercase;
}
.th-score-point {
  @apply basis-1/4 w-1/4;
  @apply text-sm md:text-xl text-left font-bold uppercase text-center;
}

.score-number {
  @apply basis-1/4 w-1/4;
  @apply text-base md:text-2xl md:min-w-10 text-center;
}
.score-name {
  @apply basis-1/2 w-1/2;
  @apply text-base block md:text-2xl truncate;
}
.score-point {
  @apply basis-1/4 w-1/4;
  @apply text-base md:text-2xl;
}

.scoreboard-next {
  @apply absolute -translate-x-1/2 -translate-y-1/2 left-[79%] top-[85.5%] w-[10%] h-auto font-bold aspect-[1/1];
}
.scoreboard-next button {
  @apply w-full h-full block;
  content: '';
}

.scoreboard-prev {
  @apply absolute -translate-x-1/2 -translate-y-1/2 left-[22%] top-[85.5%] w-[10%] h-auto font-bold aspect-[1/1];
}

.scoreboard-prev button {
  @apply w-full h-full block;
  content: '';
}

.scoreboard-tryAgain {
  @apply absolute -translate-x-1/2 -translate-y-1/2 left-[50%] top-[85.5%] w-[40%] h-auto font-bold aspect-[3/1];
}

.scoreboard-tryAgain a {
  @apply w-full h-full block;
  content: '';
}